<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ToDo App</title>
</head>
<body>
    <header>
        <h1>Welcome to ToDo App! :)</h1>
        <nav>
            <a href="#">Link1</a>
            <a href="#">Link2</a>
            <a href="#">Link3</a>

        </nav>
    </header>

    <main>
        <section class="sect-1">
            <h2>Aqui é o conteúdo do site/app</h2>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi tempora et ut ex delectus animi doloribus unde, assumenda quam nam quia beatae rerum voluptate accusamus laborum repudiandae cupiditate explicabo! Animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam accusantium iste, odio nostrum voluptatum iure quidem consequuntur sit ullam enim beatae consequatur quas architecto mollitia quis, voluptates molestiae alias!</p>
            </article>
        </section>

        <section class="sect-2">
            <h2>Mais conteúdo  aqui</h2>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nemo culpa illum amet, eos laborum quae quasi doloribus architecto dolor reiciendis quis? Voluptatem eveniet omnis quod neque quisquam dolorum numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi harum dolorum ex! Quidem harum delectus unde. Voluptatum eos perferendis quaerat, voluptates totam ipsum veritatis corrupti. Rerum eligendi quos laborum nostrum.</p>
            </article>
        </section>

        <section class="sect-3">
            <h2>Mais ainda kkk</h2>
            <article>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum non temporibus eveniet maxime nulla! Eveniet doloremque ipsa consequatur aut vero ab perspiciatis voluptatibus dolore delectus, et quaerat laborum quo nulla? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos debitis facilis dolorum ipsum labore, suscipit vero dicta neque dignissimos, quaerat odio modi ullam veniam quo veritatis incidunt maiores voluptatibus temporibus!
            </article>
        </section>
    </main>

    <footer>
        <p>Developed by @Súditos de Ymir Dev Group</p>
    </footer>
</body>
</html>